.container{
    // border: 2px solid #27A39B;     
    // background-color: rgb(247, 244, 240);
    // min-height: 200px;
    // max-width: 40%;
    // height: 300px;
    // box-sizing: border-box;
  margin-top: 4%;
  text-align: center  ;

}

.pdfViewer{
    max-height: 600px;

}
.btn{
  min-width: 60px;
  max-height: 21px;
  margin-left: 2%;
}
.dropDown{
  min-height: 100px;
}
